In [1]:
import os
import json
import numpy
import datetime
import pandas as pd
import pymysql
import requests
import requests.exceptions

import pymongo
from sqlalchemy import create_engine

### Data for CSV file obtained from https://www.kaggle.com/datasets/yasserh/wine-quality-dataset ###

In [47]:
host_name = "localhost"
host_ip = "127.0.0.1"
port = "3306"
user_id = "root"
pwd = "poggers"
db_name = 'wineqt'

In [77]:
def insert_sqlalchemy_dataframe(user_id, pwd, host_name, db_name, data, table_name):
    conn_str = f"mysql+pymysql://{user_id}:{pwd}@{host_name}/{db_name}"
    sqlEngine = create_engine(conn_str, pool_recycle=3600)
    connection = sqlEngine.connect()
    df = pd.read_csv(data_file)
    df.to_sql(table_name, con=connection, if_exists='replace')
    connection.close()
    
def get_dataframe(user_id, pwd, host_name, db_name, sql_query):
    conn_str = f"mysql+pymysql://{user_id}:{pwd}@{host_name}/{db_name}"
    sqlEngine = create_engine(conn_str, pool_recycle=3600)
    connection = sqlEngine.connect()
    dframe = pd.read_sql(sql_query, connection);
    connection.close()
    return dframe

def save_sqlalchemy_dataframe(user_id, pwd, host_name, db_name, df, table_name):
    conn_str = f"mysql+pymysql://{user_id}:{pwd}@{host_name}/{db_name}"
    sqlEngine = create_engine(conn_str, pool_recycle=3600)
    connection = sqlEngine.connect()
    df.to_sql(table_name, con=connection, if_exists='replace')
    connection.close()

In [88]:
#Convert file data types
directory = 'Data' #insert file directory name here
dat = 'WineQT.csv' #insert datafile you want to process here
#Create Database Table
insert_sqlalchemy_dataframe(user_id, pwd, host_name, db_name, dat, table_name)
desired_type = '.json' # insert the data type you want to convert to here
table_name = 'wine_qt' #type desired table name here
data_dir = os.path.join(os.getcwd(), directory)
data_file = os.path.join(data_dir, dat)
file_name, file_extension = os.path.splitext(data_file)
str(file_name)
str(file_extension)
if file_extension == '.csv':
    if desired_type == '.json':
        try:
            df = pd.read_csv(data_file)
            df.head()
            df.to_json(orient="table")
        except:
            print("Unable to find data file.")
    elif desired_type == '.sql':
        try:
            df = insert_sqlalchemy_dataframe(user_id, pwd, host_name, db_name, data_file, table_name)
        except:
            print("Unable to convert to SQL database table.")
if file_extension == '.json':
    if desired_type == '.csv':
        try:
            with open('jsonfile.json') as input_file:
                df = pd.read_json(input_file)
            df.to_csv()
        except:
            print("Unable to find data file.")
    elif desired_type == '.sql':
        try:
            df = insert_sqlalchemy_dataframe(user_id, pwd, host_name, db_name, data_file, table_name)
        except:
            print("Unable to convert to SQL database table.")

In [89]:
# Select SQL Query for the Dataset
sql_query = """
    SELECT * from wineqt.wine_qt;
"""
df = get_dataframe(user_id, pwd, host_name, db_name, sql_query)
df.drop('index', axis=1, inplace=True)
# Drop index column as it isn't a necessary column
df.rename(columns={"fixed acidity":"fixed_acidity","volatile acidity":"volatile_acidity","citric acid":"citric_acid","residual sugar":"residual_sugar","free sulfur dioxide":"free_sulfur_dioxide","total sulfur dioxide":"total_sulfur_dioxide"},inplace=True)
# Rename columns names with underscores to make calling them in SQL Queries much easier
df.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,Id
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,2
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,3
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,4

In [90]:
number_of_records = df.shape[0] 
# Get number of records from df and print the number
number_of_columns = df.shape[1] 
# Get number of columns
print("The number of records is:",number_of_records)
print("The number of columns is:",number_of_columns)

The number of records is: 1143
The number of columns is: 13

In [91]:
if desired_type == '.csv':
    df.to_csv("WineQT_Mod.csv", index=False)
if desired_type == '.json':
    df.to_json("WineQT_Mod.json", orient='table')
if desired_type == '.sql':
    save_sqlalchemy_dataframe(user_id, pwd, host_name, db_name, df, 'wineqt_mod')

In [92]:
### API ###
def get_api_response(url, response_type):
    try:
        response = requests.get(url)
        response.raise_for_status()
    
    except requests.exceptions.HTTPError as errh:
        return "An Http Error occurred: " + repr(errh)
    except requests.exceptions.ConnectionError as errc:
        return "An Error Connecting to the API occurred: " + repr(errc)
    except requests.exceptions.Timeout as errt:
        return "A Timeout Error occurred: " + repr(errt)
    except requests.exceptions.RequestException as err:
        return "An Unknown Error occurred: " + repr(err)

    if response_type == 'json':
        result = json.dumps(response.json(), sort_keys=True, indent=4)
    elif response_type == 'dataframe':
        result = pd.json_normalize(response.json())
    else:
        result = "An unhandled error has occurred!"
        
    return result

def get_api_data(url):
    try:
        response = requests.get(url)
        response.raise_for_status()
    
    except requests.exceptions.HTTPError as errh:
        return "An Http Error occurred: " + repr(errh)
    except requests.exceptions.ConnectionError as errc:
        return "An Error Connecting to the API occurred: " + repr(errc)
    except requests.exceptions.Timeout as errt:
        return "A Timeout Error occurred: " + repr(errt)
    except requests.exceptions.RequestException as err:
        return "An Unknown Error occurred: " + repr(err)
        
    return response.json()

In [93]:
response_type = ['json', 'dataframe']
link2 = 'https://api.coinlore.net/api/coin/markets/?id=90' ### Link for API
API = get_api_response(link2, response_type[1])

In [94]:
### Drop Price as it is not in USD and Time because it is the time from when the API started keeping data
API.drop(columns = ['time','price'], inplace=True)
API.rename(columns = {'name':'Market','base':'Cryptocurrency'}, inplace=True)
API

,Market,Cryptocurrency,quote,price_usd,volume,volume_usd
0,Binance,BTC,USDT,45932.800000,6.494519e+04,2.983115e+09
1,Bitcoin.com,BTC,USD,45927.380000,5.285143e+04,2.427327e+09
2,HitBTC,BTC,USDT,45920.260000,5.269170e+04,2.419616e+09
3,Huobi,BTC,USDT,46025.150000,2.512223e+04,1.156254e+09
4,Coinbase Pro,BTC,USD,45985.640000,1.826454e+04,8.399064e+08
5,Lbank,BTC,USDT,45918.630000,1.681701e+04,7.722143e+08
6,FTX,BTC,USD,46013.000000,1.609418e+04,7.405416e+08
7,ZB.com,BTC,USDT,45863.120000,1.607031e+04,7.370348e+08
8,IDCM,BTC,USDT,45898.940000,1.508157e+04,6.922280e+08
9,Indoex,BTC,USD,46054.681634,1.338568e+04,6.164730e+08
10,KKCoin,BTC,USDT,45939.960000,1.291754e+04,5.934313e+08
11,OKEX,BTC,USDT,45904.000000,1.286822e+04,5.907026e+08
12,Binance,ETH,BTC,3462.183725,1.606740e+05,5.562830e+08
13,Bitrue,BTC,USDT,45925.920000,1.178438e+04,5.412084e+08
14,KKCoin,ETH,BTC,3460.611247,1.430592e+05,4.950724e+08
15,Coinbene,BTC,USDT,45904.340000,1.021762e+04,4.690331e+08
16,Binance,SOL,BTC,209.981647,1.986103e+06,4.170452e+08
17,Whitebit,BTC,USDT,45930.390000,8.852789e+03,4.066120e+08
18,Coinsbit,BTC,USDT,46022.829317,8.372909e+03,3.853450e+08
19,Simex Global,BTC,USD,45978.390000,8.054565e+03,3.703359e+08
20,Indoex,BTC,EUR,46067.258798,7.839300e+03,3.611351e+08
21,Bitfinex,BTC,USD,45905.000000,7.568765e+03,3.474441e+08
22,Kucoin,BTC,USDT,45906.000000,7.104129e+03,3.261222e+08
23,Bkex,BTC,USDT,45895.500000,6.703374e+03,3.076547e+08
24,DigiFinex,BTC,USDT,46063.440000,6.043690e+03,2.783932e+08
25,OKEX,SOL,BTC,209.195453,1.330528e+06,2.783405e+08
26,Coinsbit,ETH,BTC,3467.980415,7.169944e+04,2.486522e+08
27,Binance,ADA,BTC,2.421557,9.906107e+07,2.398821e+08
28,Indoex,ETH,BTC,3470.521288,6.693695e+04,2.323061e+08
29,ZBG,BTC,USDT,45887.970000,4.751992e+03,2.180593e+08
30,Indoex,BTC,USDT,46040.521403,4.446091e+03,2.047003e+08
31,Bitcoin.com,ETH,BTC,3464.491916,5.681604e+04,1.968387e+08
32,HitBTC,ETH,BTC,3461.756323,5.682066e+04,1.966993e+08
33,Dragonex,BTC,USDT,45951.140000,4.184901e+03,1.923010e+08
34,bitFlyer,BTC,JPY,45889.232256,4.020705e+03,1.845070e+08
35,Kraken,BTC,EUR,45994.215457,3.951335e+03,1.817386e+08
36,Indoex,BTC,ETH,46007.059559,3.939735e+03,1.812556e+08
37,Bibox,BTC,USDT,46030.100000,3.935013e+03,1.811290e+08
38,FTX,BTC,USDT,46011.000000,3.855490e+03,1.773949e+08
39,Binance,BTC,EUR,46435.836737,3.745912e+03,1.739446e+08
40,Kraken,BTC,USD,45988.000000,3.477814e+03,1.599377e+08
41,TOKOK,BTC,USDT,45913.080000,3.452379e+03,1.585094e+08
42,Cointiger,BTC,USDT,45894.170000,3.449636e+03,1.583182e+08
43,Big.One,ETH,BTC,3459.806546,4.511798e+04,1.560995e+08
44,Coinbene,ETH,BTC,3458.754306,4.497635e+04,1.555621e+08
45,Bitcoin.com,XRP,BTC,1.089164,1.361789e+08,1.483213e+08
46,HitBTC,XRP,BTC,1.088016,1.361789e+08,1.481649e+08
47,Bitstamp,BTC,USD,45905.220000,3.222668e+03,1.479373e+08
48,Binance,IOST,BTC,0.076277,1.904486e+09,1.452680e+08
49,Big.One,BTC,USDT,45906.120000,3.147291e+03,1.444799e+08

In [95]:
number_of_records = API.shape[0] 
# Get number of records from df and print the number
number_of_columns = API.shape[1] 
# Get number of columns
print("The number of records is:",number_of_records)
print("The number of columns is:",number_of_columns)

The number of records is: 50
The number of columns is: 6

In [96]:
### Create 'cryptocurrency database' ###
crydb_name = 'cryptocurrency'
crytable = "crypto_stock"
conn_str = f"mysql+pymysql://{user_id}:{pwd}@{host_name}"
sqlEngine = create_engine(conn_str, pool_recycle=3600)
sqlEngine.execute(f"DROP DATABASE IF EXISTS `{crydb_name}`;")
sqlEngine.execute(f"CREATE DATABASE `{crydb_name}`;")
sqlEngine.execute(f"USE {crydb_name};")
insert_sqlalchemy_dataframe(user_id, pwd, host_name, crydb_name, API, crytable)

In [99]:
## Save API Results to Desired Data Type ##
if desired_type == '.csv':
    API.to_csv("Crypto_Mod.csv",index=False)
if desired_type == '.json':
    API.to_json("Crypto_Mod.json",orient='table')
if desired_type == '.sql':
    save_sqlalchemy_dataframe(user_id, pwd, host_name, db_name, API, table_name)